$font-stack:    Optima, sans-serif;
$primary-color: #333;
$pale-blue: #bff;
$medium-blue: #5edbe9;
$button-color: #f7bc90;

.site-background {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $pale-blue;
  width: 100%;
  padding: 20px 0;
  min-height: 100vh;
}

.center-frame {
  background-color: $medium-blue;
  max-width: 600px;
  padding: 10px;
  min-height: 500px;
  border-radius: 20px;
  margin: 0 auto;
  h1 {
    text-align: center;
    color: #e96c5e;
  }
  #create-account {
    text-align: center;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .col {
    padding-left: 0px;
    padding-right: 0px;
  }

  .btn-custom {
    width: auto;
    margin: 0 auto;
    &#submit{
      margin: 5px;
    }
  }

  p.paragraph {
    margin-top: 5px;
    font-size: 18px;
  }
  .container {
    text-align: center;
    width: 100%;
  }
  .form-input {
    width: 100%;
    text-align: left;
    input {
      width: 100%;
    }
  }
  .login {
    // max-width: auto;
  }
  .test {
    text-align: center;
    margin: 2px;
    background: #888;
    color: #fff;
  }
  .center {
    text-align: center;
  }
}

.icon-ok-sign.success {
  color: green;
}
.icon-remove-sign.err {
  color: red;
}
